output.txt
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Python_BDA_NLP.iml
/.idea/vcs.xml
BV1bc411f7fK.csv
